<div class="container">
  <div>
    <% if @error %>
    <%= @error %>
    <% end %>
  </div>
  <div>
    <h1>Log in to Boba Fetch</h1>
  </div>
  <div>
    <form action="/sessions" method="post">

      <input type="text" name="user[username]" placeholder="Username">

      <input type="password" name="user[password]" placeholder="Password">

      <input type="submit" value="Go">
    </form>
  </div>
</div>