* {
    font-family: 'Raleway', arial;
    box-sizing: border-box;
}

img {
    float: left;
}
#site-welcome {
    width: 30%;
}

#site-slogan {
    color: red;
    font-size: 1.25em;
    font-family: Pacifico;
    /*overflow: hidden;*/
    margin-top: -2.5em;
}

#map {
    height: 20em;
    width: 20em;
    margin: auto;
    clear: both;
}

.google-maps {
    float: right;
}

#login-form {
    float: right;
}

.index-review {
    border: 1px dotted black;
}

.drink-name {
    font-style: italic;
}

.shop-info {
    border: 1px dotted black;
    width: 100%;
}

#site-name {
    font-family: 'Lobster', cursive;
    font-size: 4.5em;
    /*overflow: hidden;*/
}

.container {
    margin: 20px auto;
    width: 90%;
    padding: 0px 20px 20px 20px;
}

#review-box {
    width: 100%;
    height: 10em;
}

.drinks-at-shop {
    display: none;
}

nav {
    width: 100%;
    font-size: .80em;
    clear: both;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #616161;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
    width: 80%;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: green;
}

.flash {
    font-size: 20px;
    width: 600px;
    padding: 5px;
    font-weight: bold;
    margin: 20px;
    color: red;
}