img {
  float: left;
}

html, body, #map {
  height: 20em;
  width: 20em;
  margin: auto;
}

#site-name {
  float: left;
  clear: both; 
}

.index-review {
  border: 1px dotted black;
}

.drink-name {
  font-style: italic;
}

.shop-info {
  border: 1px dotted black;
  width: 100%;
}

#site-name {
  font-family: 'Lobster', cursive;
  font-size: 4.5em;
  display: center;
}

.container {
  margin: 20px auto;
  width: 90%;
  padding: 0px 20px 20px 20px;
}

h2 {
  text-align: center;
}

th {
  text-align: left;
}

label {
  float: left;
  width: 4em;
  display: block;
  margin-left: 2em;
  margin-top: 2em;
}

input {
  float: left;
  margin-top: 10px;
  margin-top: 2em;
}

nav {
  max-width: 100%;
  font-size: .80em;
  clear: both;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #616161;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #5AC8EC;
}