body {
    font-family: Raleway;
    width: 90%;
    margin: auto;
    border: 1px solid pink;
}

#map {
    height: 20em;
    width: 20em;
    margin: auto;
    clear: both;
}

.google-maps {
    float: right;
}

/*Flash errors*/
.flash {
    font-size: 1.25em;
    width: 600px;
    padding: 5px;
    font-weight: bold;
    margin: 20px;
    color: red;
}

/*Site header and nav bar*/
header {
    text-align: center;
}

#site-name {
    
}

a {
    text-decoration: none;
    color: red;
}

nav ul {
    font-family: Roboto Slab;
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 0em 1em 0em 1em;
}

nav li a {
    color: green;
}

a:hover {
    color: red;
}

.rev-disp {
    border: 1px solid red;
}