 <div class="container">
      <form action="/shops/<%=@shop.id%>/drinks/<%=@drink.id%>/upload" method="post" enctype="multipart/form-data"></div>
        <input type="file" name="image" />
        <input type="submit" name="submit" value="Upload" />
    </form>
  </div>