<div class="container">
  <h1>Create a Boba Fetch Account!</h1>
  <div>
    <% if @error %>
    <%= @error %>
    <% end %>
  </div>
  <div>
    <form action='/users' method='post'>
      <fieldset>
        <label>First name:</label><br>
        <input type="text" name ="user[first_name]" placeholder="First name">
      </fieldset>

      <fieldset>
        <label>Last name:</label><br>
        <input type="text" name ="user[last_name]" placeholder="Last name">
      </fieldset>

      <fieldset>
        <label>Username:</label><br>
        <input type="text" name ="user[username]" placeholder="username">
      </fieldset>

      <fieldset>
        <label>Email:</label><br>
        <input type="email" id="email" name ="user[email]" placeholder="Email">
      </fieldset>

      <fieldset>
        <label>Password:</label><br>
        <input type="password" name="user[password]" placeholder="Password">
      </fieldset>

      <input type="submit" value="Go">
    </form>
  </div>
</div>