<div class="container">
  <h1>Join Boba Fetch!</h1>
  <div>
    <% if flash[:error] %>
    <%= flash[:error] %>
    <% end %>
  </div>
  <div>
    <form action='/users' method='post'>

        <input type="text" name ="user[first_name]" placeholder="first name" required>

        <input type="text" name ="user[last_name]" placeholder="last name" required>

        <input type="text" name ="user[username]" placeholder="username" required>

        <input type="email" name ="user[email]" placeholder="email" required>

        <input type="password" name="user[password]" placeholder="password" required>

      <input type="submit" value="Go">
    </form>
  </div>
</div>