<div class="container">
  <% if current_user %>

  <div class="profile-welcome">Welcome, <%= @user.first_name %>!</div>
  <p>PROFILE PAGE HERE</p>
  <% else %>
  <p>You've encountered an error.</p>
  <% end %>
</div>