<div class="container">
  <div>Business Name</div>
  <div>Business Address</div>
  <div>Business City</div>
  <div>Business State</div>
  <div>Business Zip</div>
  <br>
  <div>Review Drink name</div>
  <div>Review Rating</div>
  <div>Review Body</div>
  <div>Review user name</div>
  <div>Review timestamp</div>
</div>