<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Normalize across browsers -->
  <link rel="stylesheet" href="/css/normalize.css">
  
  <!-- Google fonts -->
  <link  rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster+Two|Pacifico|Miriam+Libre|Roboto+Slab">

  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <!-- Link css stylesheet -->
  <link rel="stylesheet" href="/css/application.css">

  <!-- AJAX / jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- JavaScript: Google Maps functions-->
  <script src="/js/application.js"></script>

  <!-- JavaScript: AJAX and jQuery -->
  <script src="/js/ajax.js"></script>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/herokubobafetch/bubbletea.ico" />

  <!-- Google Maps -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_TOKEN'] %>&callback=initMap"></script>

  <title>Boba Fetch</title>
</head>

<body>
  <header>
    <nav>
      <ul class="cap-letters">
        <li><a href="/shops"><i class="fa fa-map-marker"></i>Shops</a></li>
        <% if current_user %>
        <li><a href="/users/<%= current_user.id %>"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href="/logout"><i class="fa fa-sign-out"></i>Sign Out</a></li>
        <% else %>
        <li><a href="/users/new"><i class="fa fa-user-plus"></i>Sign Up</a></li>
        <li><a href="/sessions/new"><i class="fa fa-sign-in"></i>Sign In</a></li>
        <% end %>
      </ul>
    </nav>
    <div><img src="https://s3.amazonaws.com/herokubobafetch/Boba-Fetch-1-Colors-Updated.png"/></div>
    <div style="font-family: 'Lobster Two'; font-size: 3.5em"><a href="/">Boba Fetch</a></div><div style="font-size: 1.35em; font-family: Pacifico; margin-top: -1.25em">your<span style="color: green">boba</span>hunter</div>
  </header>
  <%= yield %>
</body>
</html>
